 

.main-sidebar{
 
  .icon{
   
    //  display: none;
     .fa-solid {
      display: none;
      @media(max-width:850px) {
        display: block;
        position: relative;
        top: 33px;
        left: 13px;
        color: black;
        font-size: 20px;
      }
     }
  
   
  }

.sidebar {
  position:fixed;
    width: 250px;
    background-color: #363740;
    color: white;
    height: 100%;
    padding: 2rem 1rem;
    @media(max-width:850px) {
    position: absolute;
    top: 0;
    left: -300px;
    transition: all 0.5s;
    }
  // this is for icons

    .first-img { 
    }
  
    .box {
    
      .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-block: 1rem;
        cursor: pointer;
        &:hover{
          background-color: #3E4049;
          // background-color: rgba(159, 162, 180, 1);
          color: white;
        }
  
        h4 {
          color: lightgray;
        }
  
        &:hover {
          color: white;
        }
      }
    }
  
    hr {
      color: white;
    }
  }
  .show{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
 
  }

}




  
  
  