<div class="sidebar">


    <img src="assets/sidebarimg/logo.svg" class="first-img" alt=" ">

    <div class="box">


        <div class="flex">
            <img src="assets/sidebarimg/admin.svg" alt="">
        
        <h4  [routerLink]="['/sidebar', 'admin-page']"  >Dashboard</h4>
        </div>
        
        <div class="flex">
            <img src="assets/sidebarimg/Vector.svg" alt="">
        <h4  >Administration</h4>
        </div>
        
        <div class="flex">
            <img src="assets/sidebarimg/tubelight.svg" alt="">
        <h4 [routerLink]="['/sidebar', 'header']">Buildings</h4>
        </div>
        
        <div class="flex">
            <img src="assets/sidebarimg/report.svg" alt="">
        <h4>Supervisors</h4>
        </div>
        <div class="flex">
            <img src="assets/sidebarimg/Vector.svg" alt="">
        <h4>Contacts</h4>
        </div>
        <div class="flex">
            <img src="assets/sidebarimg/report.svg" alt="">
        <h4>Tenants</h4>
        </div>
        <div class="flex">
            <img src="assets/sidebarimg/Vector.svg" alt="">
        <h4>Directory</h4>
        </div>
        <div class="flex">
            <img src="assets/sidebarimg/tubelight.svg" alt="">
        <h4>Service Category</h4>
        </div>

        <br>
        <div class="flex">
            <img src="assets/sidebarimg/report.svg" alt="">
        <h4>report</h4>
        </div>
        <hr>
    </div>
 
 <!-- <router-outlet></router-outlet> -->




</div>