 

 <div class="building">
   


      <div class="list-buildings">

        <div class="first" *ngFor="let item of data">
            <div class="heading">
              <p>{{item.name}}</p>
              <p>Heirs AL Shamsi Villa Hor..</p>
              <div class="imgs">
                <img [src]="item.picone" alt="">
                <img [src]="item.pictwo" alt="">
                <img [src]="item.pic3" alt="">
                <img [src]="item.pic4" alt="">
            
              </div>
            </div>
            <div class="main-img">
              <img [src]="item.pic" alt="">
            </div>
            <div class="floor-management">
              <button>Floor Management</button>
              <div class="button-imgs">
                <img [src]="item.pic6" alt="">
                <img [src]="item.pic7" alt="">
                <img [src]="item.pic8" alt="">
                <img [src]="item.pic9" alt="">
             
              </div>
              <div class="supervisor">
                <img [src]="item.pic10" alt="">

                <div class="name-number">
                  <p>shahid</p>
                  <p class="num">+972 3003 393933 3</p>
                </div>
              </div>
            </div>
          </div>
          

         <!-- this is for back up plane -->
         <!-- <div class="first" *ngfor="let item of data">
            <div class="heading">
             <p>{{item.name}}</p>
             <p>Heirs AL Shamsi Villa Hor..</p>
             <div class="imgs">
                 <img src="assets/building/warning.svg" alt="">
 
                 <img src="assets/building/dustbeen.svg" alt="">
                 <img src="assets/building/pen.svg" alt="">
                 <img src="assets/building/people.svg" alt="">
 
             </div>
            </div>
         <div class="main-img">
             <img  [src]="item.pic5" alt="">
 
         </div>
         <div class="floor-management">
             <button>Floor Management</button>
             <div class="button-imgs">
                 <img src="assets/building/girl.svg" alt="">
                 <img src="assets/building/girl202.svg" alt="">
                 <img src="assets/building/girl+2.svg" alt="">
                 <img src="assets/building/bluesvg.svg" alt="">
 
             </div>
             <div class="supervisor">
                 <img src="assets/building/Group.svg" alt="">
                 <div class="name-number">
                     <p>shahid</p>
                     <p class="num">+972 3003 393933 3</p>
                 </div>
             </div>
         </div>
 
          </div> -->


      </div>

     

 </div>
