

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &.fixed {
        position: fixed; /* Make the navbar fixed at the top */
        top: 0; 
        width: 100%; 
       
        @media(max-width:1200px){
            width: 73%;     
        }
        @media(max-width:850px){
            width: 95%;     
        }
        z-index: 1000; 
        background-color: white;
      }
      


    h2{
        text-decoration: underline;
        font-weight: 600;

        font-family: "poppins";
        @media(max-width:767px){
         padding-left: 10px;
          font-size: 15px; }    
           }
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-block: 2rem;
        padding-right:1rem ;
        h3{
            font-size: 15px;
            border-left: 1px solid gray;
            padding-left: 10px;
            text-decoration: underline;
        }

    }


}