      
<form [formGroup]="loginForm" (ngSubmit)="userlogin()">
    <input type="text" placeholder="enter your name" name="user" formControlName="user">
    <br><br>
    <span style="color: red; " *ngIf="user && user.invalid && user.touched"  > name is required</span>
    <br>
    <input type="password" placeholder="enter your password" name="password" formControlName="password">
    <span style="color: red; " *ngIf="password &&password.invalid && password.touched"  > password is required</span>
    <br>
    <button type="submit">Submit</button>
  </form>