 .admin{
     border: 1px solid gray;
     margin-block:2rem ;
     margin-right: 1rem;

     .button-search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .right{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
     }
 }